@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    text-align: center;
}

p {
    width: 30%;
    margin: 0 auto;
    margin-bottom: w;
}

label {
    font-size: 20px;
    font-weight: 700;
    display: block;
}

input[type="button"]{
    font-family: 'Space Mono', monospace;
    padding: 10px 20px;
    font-size: 16px;
}

button {
    font-family: 'Space Mono', monospace;
    padding: 10px 20px;
    font-size: 16px;
}
.light-mode {
        background-color: palegoldenrod;
        color: #007F6C;
        border-color: #007F6C;
}

.light-mode .divider {
    color: #007F6C;
}

.light-mode .dropdown-content {
    background-color: #007F6C;
    color: palegoldenrod; 
}   

.light-mode .dropbtn {
    border-color: #007F6C; 
}


.light-mode .dropdown-content a {
    color: palegoldenrod; 
}

.light-mode .dropdown-content a:hover {
    background-color: palegoldenrod;
    color:#007F6C;
}

.light-mode input[type="button"] {
    background-color: #007F6C;
    color: palegoldenrod;
    border-color: #007F6C;
}

.light-mode input[type=button]:hover {
    background-color: palegoldenrod;
    color: #007F6C;
}

.light-mode #toggleLabel {
    cursor: url(sun.cur), auto;
}

.light-mode #welcome button {
    background-color: #007F6C;
    color: palegoldenrod;
    border:3px solid #007F6C;
    box-shadow: 0px 16px 32px 0px black;
}

.light-mode #welcome button:hover{
    background-color: palegoldenrod;
    color: #007F6C;
}

.dark-mode {
    background-color: rgb(10, 10, 10);
    color: aquamarine;
    border-color: aquamarine;
}

.dark-mode .divider {
    color: aquamarine;
}

.dark-mode #toggleLabel {
    cursor: url(moon.cur), auto;
}

.dark-mode .dropbtn {
    border-color: aquamarine; 
}

.dark-mode .dropdown-content {
    background-color: #333;
    color: aquamarine; 
}

.dark-mode .dropdown-content a {
    color: aquamarine; 
}

.dark-mode .dropdown-content a:hover {
    background-color: aquamarine;
    color:black;
}

.dark-mode input[type="button"] {
    background-color: aquamarine;
    color: black;
    border-color: aquamarine;
}

.dark-mode input[type=button]:hover {
    background-color: #333;
    color: aquamarine;
}

.dark-mode #welcome button {
    background-color: aquamarine;
    color: black;
    border:3px solid aquamarine;
    box-shadow: 10px 10px 10px 0px black;
}

.dark-mode #welcome button:hover{
    background-color: black;
    color: aquamarine;
}


h1 {
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: 900;   
}

h2 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
}

h3{
    font-weight: 500;
}

h4 {
    width: 55%;
    margin: 0 auto;
    margin-top: 10px;
}

.divider {
    height: 0px;
    width: 30%;
    margin-top: 10px;
}

.caption {
    transform: skewX(-10deg);
    margin-top: 5px;
    opacity: 0.9;
}

.details {
    display: inline;
    border: 1px solid inherit;
    padding-left: 7px;
    padding-right: 7px;
}

.details a {
    color: inherit;
}

#toggle {
    display: none;
    position: relative;
}

#toggleLabel {
    display: inline-block;
    width: 40px;
    height: 22px;
    background-color: #007F6C;
    position: absolute;
    top: 30px;
    left: 40%;
}

#toggleLabel::before {
    content: "";
    position: absolute;
    top:3px;
    left: 3px;
    width: 15px;
    height: 16px;
    background-color: palegoldenrod;
    transition: transform 0.3s;
}

#toggle:checked + #toggleLabel {
    background-color: aquamarine;
}

#toggle:checked + #toggleLabel::before {
    transform: translateX(19px);
    background-color: black;
}

ul.no-bullets {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    margin-bottom: 10px;
  }

.bordered {
    border: 1px solid;
    border-color: inherit;
    padding: 5px;
    margin: 10px;
}

#dark-mode-toggle {
    position: fixed;
    top: 10px; 
    left: 10px;
    display: flex;
    align-items: center;
}

.dropbtn {
    position: fixed;
    top: 100px; 
    left: 10px; 
    display: flex;
    align-items: center;
    background-color: inherit;
    color: inherit;
    padding: 16px;
    width: 160px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
}

.dropdown {
    position: fixed;
    top: 150px;
    left: 25px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #007F6C;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: inherit;
    color: inherit;
}

#welcome {
    min-height: 80vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#welcome h1{
    font-size: 200px;
}

#welcome button {
    padding: 20px 40px;
    font-size: 30px;
}

@media (max-width:900px) {
    #toggleLabel {
        left: -30%;
        top: 1%;
        position: absolute;
    }

    #dark-mode-toggle {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
    }

    #welcome h1 {
        font-size: 20vw;
    }

    
    .divider {
        width: 80%;
    }
    .dropdown {
        display: none;
    }

    p {
        width: 100%;
    }

    h1,h2,h3,h4 {
        width: 100%;
        text-align: center;
    }

    h1 {
        top: 30px;
    }
}